.cart_item_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}
.cart_item_container .delite_cart_item_btn {
  width: 20px;
  height: 10px;
  border: none;
  position: relative;
  cursor: pointer;
  font-size: x-large;
  background-color: rgb(255, 255, 255);
}
.cart_item_container .delite_cart_item_btn::before {
  content: "+";
  position: absolute;
  top: -15px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}
.cart_item_container .delite_cart_item_btn:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.cart_item_container .cart_item_title {
  color: rgb(73, 71, 71);
  font-weight: 500;
  width: 70px;
}
.cart_item_container .cart_item_price {
  color: rgb(73, 71, 71);
  font-weight: 500;
  width: 70px;
}

@media screen and (max-width: 970px) {
  .cart_item_container {
    gap: 10px;
  }
  .delite_cart_item_btn {
    width: 10px;
  }
  .cart_item_title {
    font-weight: 300;
    width: 30px;
  }
  .cart_item_price {
    font-weight: 200;
    width: 50px;
  }
}
@media screen and (max-width: 850px) {
  .cart_item_container {
    gap: 3px;
  }
  .cart_item_container .delite_cart_item_btn {
    width: 10px;
  }
  .cart_item_container .cart_item_title {
    font-weight: 150;
    width: 85px;
  }
  .cart_item_container .cart_item_price {
    font-weight: 150;
    width: 70px;
  }
}